 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                  <p>ゲーム開発者見習いのプログラマです。<br/>Unreal Engine 4 や LeapMotion, ARCore, Blender, Substance Painter, Substance Designer で遊んでいます。</p>
                </div>
            </div>
        </div>
    </section>
